body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

* {
  cursor: url(./assets/cursor.png), auto;
}

.content {
  height: calc(100% - 140px);

  @media screen and(max-width: 768px) {
    height: calc(100% - 94px);
  }
}
